<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>观看人数涟漪散点图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="57090b7c57274d72ba2fea0e59de8aa7" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_57090b7c57274d72ba2fea0e59de8aa7 = echarts.init(
            document.getElementById('57090b7c57274d72ba2fea0e59de8aa7'), 'white', {renderer: 'canvas'});
        var option_57090b7c57274d72ba2fea0e59de8aa7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "effectScatter",
            "name": "\u89c2\u770b\u4eba\u6570w",
            "showEffectOn": "render",
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "symbolSize": 10,
            "data": [
                [
                    "\u5173\u6ce8\u672c\u8f6e\u75ab\u60c5\u6700\u65b0\u8fdb\u5c55",
                    1246.1
                ],
                [
                    "\u5927\u7406\u82cd\u5c7113\u540d\u5931\u8054\u4eba\u5458\u5168\u90e8\u627e\u5230",
                    1233.5
                ],
                [
                    "\u4e0a\u6d77\u5ba3\u5e03\u660e\u8d77\u5206\u9636\u6bb5\u590d\u5546\u590d\u5e02",
                    1126.4
                ],
                [
                    "\u591a\u63aa\u5e76\u4e3e\u652f\u6301\u9ad8\u6821\u6bd5\u4e1a\u751f\u5c31\u4e1a\u521b\u4e1a",
                    1009.8
                ],
                [
                    "31\u7701\u65b0\u589e\u672c\u571f226+1492",
                    916.4
                ],
                [
                    "\u5927\u8f66\u8f6e\u80ce\u8131\u843d\u72d7\u5b50\u88ab\u8ffd\u7684\u72c2\u8dd1",
                    814.3
                ],
                [
                    "\u7231\u5fc3\u6ce1\u6ce1\u7279\u6548\u592a\u7edd\u4e86",
                    740.9
                ],
                [
                    "\u4e4c\u65b9\u79f0\u6218\u4e89\u8f6c\u6298\u70b9\u5c06\u57288\u6708\u51fa\u73b0",
                    732.4
                ],
                [
                    "\u4e0a\u6d77\u65b0\u589e\u672c\u571f166+1203",
                    721.2
                ],
                [
                    "\u5317\u4eac4\u8d77\u805a\u96c6\u6027\u75ab\u60c5105\u4eba\u611f\u67d3",
                    710.3
                ],
                [
                    "\u6d88\u9632\u5b89\u5168\u6ce8\u610f\u4e8b\u9879",
                    700.0
                ],
                [
                    "\u5feb\u624b\u8fbe\u4eba\u7ed9\u4f60\u8bb2\u62bd\u70df\u7684\u5371\u5bb3",
                    686.1
                ],
                [
                    "\u725b\u4ed4\u5f88\u5fd9\u53d8\u88c5",
                    682.9
                ],
                [
                    "\u8881\u9686\u5e73\u7237\u7237\u6536\u517b\u7684\u5c0f\u732b\u8d70\u4e22\u540e\u627e\u56de",
                    675.0
                ],
                [
                    "\u5973\u5b50\u5e26\u72d7\u6838\u9178\u672a\u7275\u7ef3\u88ab\u6307\u8d23\u540e\u5927\u9a82",
                    669.6
                ],
                [
                    "\u5370\u5ea6\u5ba3\u5e03\u7981\u6b62\u5c0f\u9ea6\u51fa\u53e3",
                    656.8
                ],
                [
                    "\u7537\u5b50\u4e0b\u8dea\u79f0\u4ea4\u4e0d\u8d77\u623f\u79df\u60f3\u8fdb\u65b9\u8231",
                    655.6
                ],
                [
                    "\u52c7\u58eb\u6dd8\u6c70\u7070\u718a\u664b\u7ea7\u897f\u90e8\u51b3\u8d5b",
                    655.5
                ],
                [
                    "\u6ca1\u6709\u8033\u6d1e\u8fd8\u80fd\u8fd9\u6837\u6234\u8033\u9489",
                    655.4
                ],
                [
                    "\u9a6c\u8def\u4e0a\u649e\u5230\u4eba\u8fd9\u6837\u8bf4",
                    645.4
                ],
                [
                    "\u8001\u5e08\u4e3a\u9f13\u52b1\u5b66\u751f\u7528200\u5143\u505a\u6807\u8bb0",
                    644.0
                ],
                [
                    "\u56fd\u5bb6\u822a\u5929\u5c40\u5165\u9a7b\u5feb\u624b",
                    641.3
                ],
                [
                    "\u4e03\u56fd\u96c6\u56e2\u627f\u8bfa\u7ee7\u7eed\u5bf9\u4e4c\u63d0\u4f9b\u652f\u6301",
                    638.5
                ],
                [
                    "\u4e2d\u56fd\u6d77\u8b66\u5728\u9493\u9c7c\u5c9b\u9886\u6d77\u5185\u5de1\u822a",
                    630.5
                ],
                [
                    "\u51b7\u95e8\u4f46\u5b9e\u7528\u7684p\u56fe\u5c0f\u6280\u5de7",
                    628.7
                ],
                [
                    "\u79cd\u690d\u7f42\u7c9f\u82b1\u4e00\u682a\u4e5f\u8fdd\u6cd5",
                    617.3
                ],
                [
                    "\u6e38\u620f\u4eba\u4e5f\u6765\u4e0a\u5206\u4e86",
                    615.6
                ],
                [
                    "\u88ab\u54ed\u8138\u7279\u6548\u6574\u7b11\u4e86",
                    612.4
                ],
                [
                    "\u666e\u4eac\u79f0\u4fc4\u4e4c\u8c08\u5224\u5b9e\u9645\u4e0a\u5df2\u6682\u505c",
                    611.7
                ],
                [
                    "\u7537\u5b50\u8d2a\u73a9\u4ece\u7011\u5e03\u9ad8\u5904\u6ed1\u843d\u53d7\u4f24",
                    611.2
                ],
                [
                    "\u9a7e\u9a76\u5458\u88ab\u5377\u5165\u8f66\u5e95\u8def\u4eba\u534f\u529b\u62ac\u8f66\u6551\u4eba",
                    606.5
                ],
                [
                    "\u5927\u7406\u82cd\u5c71\u5931\u805413\u4eba\u5168\u90e8\u5b89\u5168",
                    605.3
                ],
                [
                    "\u9b54\u6027duidui\u821e",
                    603.5
                ],
                [
                    "\u6211\u662f\u4e91\u5357\u7684\u539f\u521b\u5b8c\u6574\u7248",
                    602.6
                ],
                [
                    "\u5c24\u4f2f\u676f\u4e2d\u56fd\u961f\u4e9a\u519b",
                    599.1
                ],
                [
                    "RNG\u5c0f\u7ec4\u8d5b\u5168\u80dc",
                    596.4
                ],
                [
                    "\u97e9\u5267\u6d41\u661f\u597d\u4e0a\u5934",
                    595.4
                ],
                [
                    "\u6d45\u5c1d\u4e00\u4e0b\u660e\u661f\u8d70\u7ea2\u6bef\u7684\u611f\u89c9",
                    592.9
                ],
                [
                    "\u4fc4\u7f57\u65af\u6253\u51fb\u4e4c\u514b\u5170\u70bc\u6cb9\u5382",
                    591.2
                ],
                [
                    "\u4e0a\u6d77\u56de\u5e94\u6295\u653e\u6d88\u6bd2\u7247\u81f4\u8eab\u4f53\u4e0d\u9002",
                    589.4
                ],
                [
                    "\u7537\u5b69\u94bb\u8fdb\u914d\u7535\u7bb1\u6d88\u9632\u5feb\u901f\u6551\u63f4",
                    588.9
                ],
                [
                    "\u8b66\u65b9\u901a\u62a5\u59bb\u5b50\u6301\u5200\u780d\u4f24\u4e08\u592b\u81f4\u6b7b",
                    588.4
                ],
                [
                    "\u5317\u4eac\u65b0\u589e\u672c\u571f33+8",
                    588.3
                ],
                [
                    "\u548c\u5e73\u7cbe\u82f1\u6e2f\u98ce\u4e50\u821e\u53d8\u88c5",
                    587.9
                ],
                [
                    "\u5de7\u514b\u529b\u9762\u6761\u6311\u6218",
                    586.2
                ],
                [
                    "\u8fd9\u662f\u771f\u7070\u718a\u7403\u8ff7",
                    586.0
                ],
                [
                    "\u4e13\u5bb6\u5efa\u8bae\u7ed9\u53d7\u75ab\u60c5\u5f71\u54cd\u767e\u59d3\u53d1\u73b0\u91d1",
                    584.6
                ],
                [
                    "\u738b\u8005\u8363\u8000520\u5b59\u7b56\u5927\u4e54\u76ae\u80a4\u7206\u6599",
                    584.1
                ],
                [
                    "\u53ef\u7231\u6bd4\u5fc3\u821e",
                    582.3
                ],
                [
                    "\u5b89\u5fbd\u65b0\u589e7\u4f8b\u65e0\u75c7\u72b6\u611f\u67d3\u8005",
                    581.7
                ],
                [
                    "\u5173\u6ce8\u672c\u8f6e\u75ab\u60c5\u6700\u65b0\u8fdb\u5c55",
                    1221.9
                ],
                [
                    "\u5927\u7406\u82cd\u5c7113\u540d\u5931\u8054\u4eba\u5458\u5168\u90e8\u627e\u5230",
                    1221.8
                ],
                [
                    "\u4e0a\u6d77\u5ba3\u5e03\u660e\u8d77\u5206\u9636\u6bb5\u590d\u5546\u590d\u5e02",
                    1119.5
                ],
                [
                    "\u591a\u63aa\u5e76\u4e3e\u652f\u6301\u9ad8\u6821\u6bd5\u4e1a\u751f\u5c31\u4e1a\u521b\u4e1a",
                    1022.9
                ],
                [
                    "31\u7701\u65b0\u589e\u672c\u571f226+1492",
                    918.6
                ],
                [
                    "\u5927\u8f66\u8f6e\u80ce\u8131\u843d\u72d7\u5b50\u88ab\u8ffd\u7684\u72c2\u8dd1",
                    814.1
                ],
                [
                    "\u7231\u5fc3\u6ce1\u6ce1\u7279\u6548\u592a\u7edd\u4e86",
                    740.8
                ],
                [
                    "\u4e4c\u65b9\u79f0\u6218\u4e89\u8f6c\u6298\u70b9\u5c06\u57288\u6708\u51fa\u73b0",
                    731.6
                ],
                [
                    "\u4e0a\u6d77\u65b0\u589e\u672c\u571f166+1203",
                    722.3
                ],
                [
                    "\u5317\u4eac4\u8d77\u805a\u96c6\u6027\u75ab\u60c5105\u4eba\u611f\u67d3",
                    711.3
                ],
                [
                    "\u6d88\u9632\u5b89\u5168\u6ce8\u610f\u4e8b\u9879",
                    701.2
                ],
                [
                    "\u5feb\u624b\u8fbe\u4eba\u7ed9\u4f60\u8bb2\u62bd\u70df\u7684\u5371\u5bb3",
                    686.2
                ],
                [
                    "\u725b\u4ed4\u5f88\u5fd9\u53d8\u88c5",
                    683.0
                ],
                [
                    "\u8881\u9686\u5e73\u7237\u7237\u6536\u517b\u7684\u5c0f\u732b\u8d70\u4e22\u540e\u627e\u56de",
                    676.2
                ],
                [
                    "\u5973\u5b50\u5e26\u72d7\u6838\u9178\u672a\u7275\u7ef3\u88ab\u6307\u8d23\u540e\u5927\u9a82",
                    669.1
                ],
                [
                    "\u5370\u5ea6\u5ba3\u5e03\u7981\u6b62\u5c0f\u9ea6\u51fa\u53e3",
                    656.8
                ],
                [
                    "\u7537\u5b50\u4e0b\u8dea\u79f0\u4ea4\u4e0d\u8d77\u623f\u79df\u60f3\u8fdb\u65b9\u8231",
                    655.6
                ],
                [
                    "\u52c7\u58eb\u6dd8\u6c70\u7070\u718a\u664b\u7ea7\u897f\u90e8\u51b3\u8d5b",
                    655.6
                ],
                [
                    "\u6ca1\u6709\u8033\u6d1e\u8fd8\u80fd\u8fd9\u6837\u6234\u8033\u9489",
                    655.4
                ],
                [
                    "\u9a6c\u8def\u4e0a\u649e\u5230\u4eba\u8fd9\u6837\u8bf4",
                    645.8
                ],
                [
                    "\u8001\u5e08\u4e3a\u9f13\u52b1\u5b66\u751f\u7528200\u5143\u505a\u6807\u8bb0",
                    644.1
                ],
                [
                    "\u56fd\u5bb6\u822a\u5929\u5c40\u5165\u9a7b\u5feb\u624b",
                    641.3
                ],
                [
                    "\u4e03\u56fd\u96c6\u56e2\u627f\u8bfa\u7ee7\u7eed\u5bf9\u4e4c\u63d0\u4f9b\u652f\u6301",
                    638.4
                ],
                [
                    "\u4e2d\u56fd\u6d77\u8b66\u5728\u9493\u9c7c\u5c9b\u9886\u6d77\u5185\u5de1\u822a",
                    630.9
                ],
                [
                    "\u51b7\u95e8\u4f46\u5b9e\u7528\u7684p\u56fe\u5c0f\u6280\u5de7",
                    628.5
                ],
                [
                    "\u79cd\u690d\u7f42\u7c9f\u82b1\u4e00\u682a\u4e5f\u8fdd\u6cd5",
                    619.3
                ],
                [
                    "\u6e38\u620f\u4eba\u4e5f\u6765\u4e0a\u5206\u4e86",
                    617.3
                ],
                [
                    "\u88ab\u54ed\u8138\u7279\u6548\u6574\u7b11\u4e86",
                    614.2
                ],
                [
                    "\u7537\u5b50\u8d2a\u73a9\u4ece\u7011\u5e03\u9ad8\u5904\u6ed1\u843d\u53d7\u4f24",
                    612.4
                ],
                [
                    "\u9b54\u6027duidui\u821e",
                    612.3
                ],
                [
                    "\u9a7e\u9a76\u5458\u88ab\u5377\u5165\u8f66\u5e95\u8def\u4eba\u534f\u529b\u62ac\u8f66\u6551\u4eba",
                    606.5
                ],
                [
                    "\u5927\u7406\u82cd\u5c71\u5931\u805413\u4eba\u5168\u90e8\u5b89\u5168",
                    605.4
                ],
                [
                    "\u6211\u662f\u4e91\u5357\u7684\u539f\u521b\u5b8c\u6574\u7248",
                    603.5
                ],
                [
                    "\u5c24\u4f2f\u676f\u4e2d\u56fd\u961f\u4e9a\u519b",
                    602.6
                ],
                [
                    "\u666e\u4eac\u79f0\u4fc4\u4e4c\u8c08\u5224\u5b9e\u9645\u4e0a\u5df2\u6682\u505c",
                    599.2
                ],
                [
                    "\u53ef\u7231\u6bd4\u5fc3\u821e",
                    596.4
                ],
                [
                    "RNG\u5c0f\u7ec4\u8d5b\u5168\u80dc",
                    595.5
                ],
                [
                    "\u79e6\u56fd\u826f\u4efb\u957f\u6c99\u5e02\u671b\u57ce\u533a\u59d4\u4e66\u8bb0",
                    592.4
                ],
                [
                    "\u6d45\u5c1d\u4e00\u4e0b\u660e\u661f\u8d70\u7ea2\u6bef\u7684\u611f\u89c9",
                    591.2
                ],
                [
                    "\u97e9\u5267\u6d41\u661f\u597d\u4e0a\u5934",
                    589.4
                ],
                [
                    "\u4fc4\u7f57\u65af\u6253\u51fb\u4e4c\u514b\u5170\u70bc\u6cb9\u5382",
                    589.1
                ],
                [
                    "\u4e0a\u6d77\u56de\u5e94\u6295\u653e\u6d88\u6bd2\u7247\u81f4\u8eab\u4f53\u4e0d\u9002",
                    589.0
                ],
                [
                    "\u8b66\u65b9\u901a\u62a5\u59bb\u5b50\u6301\u5200\u780d\u4f24\u4e08\u592b\u81f4\u6b7b",
                    587.9
                ],
                [
                    "\u548c\u5e73\u7cbe\u82f1\u6e2f\u98ce\u4e50\u821e\u53d8\u88c5",
                    587.6
                ],
                [
                    "\u6c5f\u897f\u65b0\u589e2\u4f8b\u672c\u571f\u65e0\u75c7\u72b6",
                    587.0
                ],
                [
                    "\u5de7\u514b\u529b\u9762\u6761\u6311\u6218",
                    586.2
                ],
                [
                    "\u8fd9\u662f\u771f\u7070\u718a\u7403\u8ff7",
                    584.4
                ],
                [
                    "\u764c\u75c7\u665a\u671f\u7537\u5b50\u4e0a\u6d77\u6c42\u533b\u88ab\u56f0",
                    584.1
                ],
                [
                    "\u4e13\u5bb6\u5efa\u8bae\u7ed9\u53d7\u75ab\u60c5\u5f71\u54cd\u767e\u59d3\u53d1\u73b0\u91d1",
                    581.9
                ],
                [
                    "\u738b\u8005\u8363\u8000520\u5b59\u7b56\u5927\u4e54\u76ae\u80a4\u7206\u6599",
                    581.6
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u89c2\u770b\u4eba\u6570w"
            ],
            "selected": {
                "\u89c2\u770b\u4eba\u6570w": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5173\u6ce8\u672c\u8f6e\u75ab\u60c5\u6700\u65b0\u8fdb\u5c55",
                "\u5927\u7406\u82cd\u5c7113\u540d\u5931\u8054\u4eba\u5458\u5168\u90e8\u627e\u5230",
                "\u4e0a\u6d77\u5ba3\u5e03\u660e\u8d77\u5206\u9636\u6bb5\u590d\u5546\u590d\u5e02",
                "\u591a\u63aa\u5e76\u4e3e\u652f\u6301\u9ad8\u6821\u6bd5\u4e1a\u751f\u5c31\u4e1a\u521b\u4e1a",
                "31\u7701\u65b0\u589e\u672c\u571f226+1492",
                "\u5927\u8f66\u8f6e\u80ce\u8131\u843d\u72d7\u5b50\u88ab\u8ffd\u7684\u72c2\u8dd1",
                "\u7231\u5fc3\u6ce1\u6ce1\u7279\u6548\u592a\u7edd\u4e86",
                "\u4e4c\u65b9\u79f0\u6218\u4e89\u8f6c\u6298\u70b9\u5c06\u57288\u6708\u51fa\u73b0",
                "\u4e0a\u6d77\u65b0\u589e\u672c\u571f166+1203",
                "\u5317\u4eac4\u8d77\u805a\u96c6\u6027\u75ab\u60c5105\u4eba\u611f\u67d3",
                "\u6d88\u9632\u5b89\u5168\u6ce8\u610f\u4e8b\u9879",
                "\u5feb\u624b\u8fbe\u4eba\u7ed9\u4f60\u8bb2\u62bd\u70df\u7684\u5371\u5bb3",
                "\u725b\u4ed4\u5f88\u5fd9\u53d8\u88c5",
                "\u8881\u9686\u5e73\u7237\u7237\u6536\u517b\u7684\u5c0f\u732b\u8d70\u4e22\u540e\u627e\u56de",
                "\u5973\u5b50\u5e26\u72d7\u6838\u9178\u672a\u7275\u7ef3\u88ab\u6307\u8d23\u540e\u5927\u9a82",
                "\u5370\u5ea6\u5ba3\u5e03\u7981\u6b62\u5c0f\u9ea6\u51fa\u53e3",
                "\u7537\u5b50\u4e0b\u8dea\u79f0\u4ea4\u4e0d\u8d77\u623f\u79df\u60f3\u8fdb\u65b9\u8231",
                "\u52c7\u58eb\u6dd8\u6c70\u7070\u718a\u664b\u7ea7\u897f\u90e8\u51b3\u8d5b",
                "\u6ca1\u6709\u8033\u6d1e\u8fd8\u80fd\u8fd9\u6837\u6234\u8033\u9489",
                "\u9a6c\u8def\u4e0a\u649e\u5230\u4eba\u8fd9\u6837\u8bf4",
                "\u8001\u5e08\u4e3a\u9f13\u52b1\u5b66\u751f\u7528200\u5143\u505a\u6807\u8bb0",
                "\u56fd\u5bb6\u822a\u5929\u5c40\u5165\u9a7b\u5feb\u624b",
                "\u4e03\u56fd\u96c6\u56e2\u627f\u8bfa\u7ee7\u7eed\u5bf9\u4e4c\u63d0\u4f9b\u652f\u6301",
                "\u4e2d\u56fd\u6d77\u8b66\u5728\u9493\u9c7c\u5c9b\u9886\u6d77\u5185\u5de1\u822a",
                "\u51b7\u95e8\u4f46\u5b9e\u7528\u7684p\u56fe\u5c0f\u6280\u5de7",
                "\u79cd\u690d\u7f42\u7c9f\u82b1\u4e00\u682a\u4e5f\u8fdd\u6cd5",
                "\u6e38\u620f\u4eba\u4e5f\u6765\u4e0a\u5206\u4e86",
                "\u88ab\u54ed\u8138\u7279\u6548\u6574\u7b11\u4e86",
                "\u666e\u4eac\u79f0\u4fc4\u4e4c\u8c08\u5224\u5b9e\u9645\u4e0a\u5df2\u6682\u505c",
                "\u7537\u5b50\u8d2a\u73a9\u4ece\u7011\u5e03\u9ad8\u5904\u6ed1\u843d\u53d7\u4f24",
                "\u9a7e\u9a76\u5458\u88ab\u5377\u5165\u8f66\u5e95\u8def\u4eba\u534f\u529b\u62ac\u8f66\u6551\u4eba",
                "\u5927\u7406\u82cd\u5c71\u5931\u805413\u4eba\u5168\u90e8\u5b89\u5168",
                "\u9b54\u6027duidui\u821e",
                "\u6211\u662f\u4e91\u5357\u7684\u539f\u521b\u5b8c\u6574\u7248",
                "\u5c24\u4f2f\u676f\u4e2d\u56fd\u961f\u4e9a\u519b",
                "RNG\u5c0f\u7ec4\u8d5b\u5168\u80dc",
                "\u97e9\u5267\u6d41\u661f\u597d\u4e0a\u5934",
                "\u6d45\u5c1d\u4e00\u4e0b\u660e\u661f\u8d70\u7ea2\u6bef\u7684\u611f\u89c9",
                "\u4fc4\u7f57\u65af\u6253\u51fb\u4e4c\u514b\u5170\u70bc\u6cb9\u5382",
                "\u4e0a\u6d77\u56de\u5e94\u6295\u653e\u6d88\u6bd2\u7247\u81f4\u8eab\u4f53\u4e0d\u9002",
                "\u7537\u5b69\u94bb\u8fdb\u914d\u7535\u7bb1\u6d88\u9632\u5feb\u901f\u6551\u63f4",
                "\u8b66\u65b9\u901a\u62a5\u59bb\u5b50\u6301\u5200\u780d\u4f24\u4e08\u592b\u81f4\u6b7b",
                "\u5317\u4eac\u65b0\u589e\u672c\u571f33+8",
                "\u548c\u5e73\u7cbe\u82f1\u6e2f\u98ce\u4e50\u821e\u53d8\u88c5",
                "\u5de7\u514b\u529b\u9762\u6761\u6311\u6218",
                "\u8fd9\u662f\u771f\u7070\u718a\u7403\u8ff7",
                "\u4e13\u5bb6\u5efa\u8bae\u7ed9\u53d7\u75ab\u60c5\u5f71\u54cd\u767e\u59d3\u53d1\u73b0\u91d1",
                "\u738b\u8005\u8363\u8000520\u5b59\u7b56\u5927\u4e54\u76ae\u80a4\u7206\u6599",
                "\u53ef\u7231\u6bd4\u5fc3\u821e",
                "\u5b89\u5fbd\u65b0\u589e7\u4f8b\u65e0\u75c7\u72b6\u611f\u67d3\u8005",
                "\u5173\u6ce8\u672c\u8f6e\u75ab\u60c5\u6700\u65b0\u8fdb\u5c55",
                "\u5927\u7406\u82cd\u5c7113\u540d\u5931\u8054\u4eba\u5458\u5168\u90e8\u627e\u5230",
                "\u4e0a\u6d77\u5ba3\u5e03\u660e\u8d77\u5206\u9636\u6bb5\u590d\u5546\u590d\u5e02",
                "\u591a\u63aa\u5e76\u4e3e\u652f\u6301\u9ad8\u6821\u6bd5\u4e1a\u751f\u5c31\u4e1a\u521b\u4e1a",
                "31\u7701\u65b0\u589e\u672c\u571f226+1492",
                "\u5927\u8f66\u8f6e\u80ce\u8131\u843d\u72d7\u5b50\u88ab\u8ffd\u7684\u72c2\u8dd1",
                "\u7231\u5fc3\u6ce1\u6ce1\u7279\u6548\u592a\u7edd\u4e86",
                "\u4e4c\u65b9\u79f0\u6218\u4e89\u8f6c\u6298\u70b9\u5c06\u57288\u6708\u51fa\u73b0",
                "\u4e0a\u6d77\u65b0\u589e\u672c\u571f166+1203",
                "\u5317\u4eac4\u8d77\u805a\u96c6\u6027\u75ab\u60c5105\u4eba\u611f\u67d3",
                "\u6d88\u9632\u5b89\u5168\u6ce8\u610f\u4e8b\u9879",
                "\u5feb\u624b\u8fbe\u4eba\u7ed9\u4f60\u8bb2\u62bd\u70df\u7684\u5371\u5bb3",
                "\u725b\u4ed4\u5f88\u5fd9\u53d8\u88c5",
                "\u8881\u9686\u5e73\u7237\u7237\u6536\u517b\u7684\u5c0f\u732b\u8d70\u4e22\u540e\u627e\u56de",
                "\u5973\u5b50\u5e26\u72d7\u6838\u9178\u672a\u7275\u7ef3\u88ab\u6307\u8d23\u540e\u5927\u9a82",
                "\u5370\u5ea6\u5ba3\u5e03\u7981\u6b62\u5c0f\u9ea6\u51fa\u53e3",
                "\u7537\u5b50\u4e0b\u8dea\u79f0\u4ea4\u4e0d\u8d77\u623f\u79df\u60f3\u8fdb\u65b9\u8231",
                "\u52c7\u58eb\u6dd8\u6c70\u7070\u718a\u664b\u7ea7\u897f\u90e8\u51b3\u8d5b",
                "\u6ca1\u6709\u8033\u6d1e\u8fd8\u80fd\u8fd9\u6837\u6234\u8033\u9489",
                "\u9a6c\u8def\u4e0a\u649e\u5230\u4eba\u8fd9\u6837\u8bf4",
                "\u8001\u5e08\u4e3a\u9f13\u52b1\u5b66\u751f\u7528200\u5143\u505a\u6807\u8bb0",
                "\u56fd\u5bb6\u822a\u5929\u5c40\u5165\u9a7b\u5feb\u624b",
                "\u4e03\u56fd\u96c6\u56e2\u627f\u8bfa\u7ee7\u7eed\u5bf9\u4e4c\u63d0\u4f9b\u652f\u6301",
                "\u4e2d\u56fd\u6d77\u8b66\u5728\u9493\u9c7c\u5c9b\u9886\u6d77\u5185\u5de1\u822a",
                "\u51b7\u95e8\u4f46\u5b9e\u7528\u7684p\u56fe\u5c0f\u6280\u5de7",
                "\u79cd\u690d\u7f42\u7c9f\u82b1\u4e00\u682a\u4e5f\u8fdd\u6cd5",
                "\u6e38\u620f\u4eba\u4e5f\u6765\u4e0a\u5206\u4e86",
                "\u88ab\u54ed\u8138\u7279\u6548\u6574\u7b11\u4e86",
                "\u7537\u5b50\u8d2a\u73a9\u4ece\u7011\u5e03\u9ad8\u5904\u6ed1\u843d\u53d7\u4f24",
                "\u9b54\u6027duidui\u821e",
                "\u9a7e\u9a76\u5458\u88ab\u5377\u5165\u8f66\u5e95\u8def\u4eba\u534f\u529b\u62ac\u8f66\u6551\u4eba",
                "\u5927\u7406\u82cd\u5c71\u5931\u805413\u4eba\u5168\u90e8\u5b89\u5168",
                "\u6211\u662f\u4e91\u5357\u7684\u539f\u521b\u5b8c\u6574\u7248",
                "\u5c24\u4f2f\u676f\u4e2d\u56fd\u961f\u4e9a\u519b",
                "\u666e\u4eac\u79f0\u4fc4\u4e4c\u8c08\u5224\u5b9e\u9645\u4e0a\u5df2\u6682\u505c",
                "\u53ef\u7231\u6bd4\u5fc3\u821e",
                "RNG\u5c0f\u7ec4\u8d5b\u5168\u80dc",
                "\u79e6\u56fd\u826f\u4efb\u957f\u6c99\u5e02\u671b\u57ce\u533a\u59d4\u4e66\u8bb0",
                "\u6d45\u5c1d\u4e00\u4e0b\u660e\u661f\u8d70\u7ea2\u6bef\u7684\u611f\u89c9",
                "\u97e9\u5267\u6d41\u661f\u597d\u4e0a\u5934",
                "\u4fc4\u7f57\u65af\u6253\u51fb\u4e4c\u514b\u5170\u70bc\u6cb9\u5382",
                "\u4e0a\u6d77\u56de\u5e94\u6295\u653e\u6d88\u6bd2\u7247\u81f4\u8eab\u4f53\u4e0d\u9002",
                "\u8b66\u65b9\u901a\u62a5\u59bb\u5b50\u6301\u5200\u780d\u4f24\u4e08\u592b\u81f4\u6b7b",
                "\u548c\u5e73\u7cbe\u82f1\u6e2f\u98ce\u4e50\u821e\u53d8\u88c5",
                "\u6c5f\u897f\u65b0\u589e2\u4f8b\u672c\u571f\u65e0\u75c7\u72b6",
                "\u5de7\u514b\u529b\u9762\u6761\u6311\u6218",
                "\u8fd9\u662f\u771f\u7070\u718a\u7403\u8ff7",
                "\u764c\u75c7\u665a\u671f\u7537\u5b50\u4e0a\u6d77\u6c42\u533b\u88ab\u56f0",
                "\u4e13\u5bb6\u5efa\u8bae\u7ed9\u53d7\u75ab\u60c5\u5f71\u54cd\u767e\u59d3\u53d1\u73b0\u91d1",
                "\u738b\u8005\u8363\u8000520\u5b59\u7b56\u5927\u4e54\u76ae\u80a4\u7206\u6599"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u89c2\u770b\u4eba\u6570\u6d9f\u6f2a\u6563\u70b9\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_57090b7c57274d72ba2fea0e59de8aa7.setOption(option_57090b7c57274d72ba2fea0e59de8aa7);
    </script>
</body>
</html>
