<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="3a1e328b484446288a1504b253418b7d" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_3a1e328b484446288a1504b253418b7d = echarts.init(
            document.getElementById('3a1e328b484446288a1504b253418b7d'), 'light', {renderer: 'canvas'});
        var option_3a1e328b484446288a1504b253418b7d = {
    "backgroundColor": "skyblue",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "w",
            "legendHoverLink": true,
            "data": [
                100264311,
                64089111,
                47565217,
                41246835,
                38537735,
                36824172,
                27254537,
                25135044,
                21397835,
                20920577,
                20041245,
                19986109,
                15965002,
                12451985,
                11138839,
                11075813,
                10137524,
                9991477,
                9331507,
                8537347
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": 5,
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "w"
            ],
            "selected": {
                "w": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u7247\u540d",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "symbol": "arrow",
                "lineStyle": {
                    "show": true,
                    "width": 2,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": true,
                "length": 20
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -45,
                "margin": 8
            },
            "axisPointer": {
                "show": true,
                "type": "line"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5c11\u5e74\u7684\u4f60",
                "\u70c8\u706b\u82f1\u96c4",
                "\u72c4\u4ec1\u6770\u4e4b\u901a\u5929\u5e1d\u56fd",
                "\u897f\u6e38\u8bb0\u4e4b\u5927\u5723\u5f52\u6765",
                "\u5996\u732b\u4f20",
                "\u661f\u9645\u7279\u5de5\uff1a\u5343\u661f\u4e4b\u57ce_\u8bd1\u5236\u7248",
                "\u5927\u9c7c\u6d77\u68e0",
                "\u5357\u4eac\uff01\u5357\u4eac\uff01",
                "\u714e\u997c\u4fa0",
                "\u5370\u5ea6\u5408\u4f19\u4eba_\u8bd1\u5236\u7248",
                "\u4e00\u4e5d\u56db\u4e8c",
                "\u6740\u7834\u72fc\u00b7\u8d2a\u72fc",
                "\u626b\u6bd22\u5929\u5730\u5bf9\u51b3",
                "\u547d\u8fd0\u547c\u53eb\u8f6c\u79fb",
                "\u4e00\u6761\u72d7\u7684\u4f7f\u547d2",
                "\u8700\u5c71\u4f20",
                "\u949f\u9997\u4f0f\u9b54\uff1a\u96ea\u5996\u9b54\u7075",
                "\u5954\u8dd1\u5427\uff01\u5144\u5f1f",
                "\u4e00\u58f0\u53f9\u606f",
                "\u4ece\u4f60\u7684\u5168\u4e16\u754c\u8def\u8fc7"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_3a1e328b484446288a1504b253418b7d.setOption(option_3a1e328b484446288a1504b253418b7d);
    </script>
</body>
</html>
