<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>观看人数象形柱图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="5b453e55074a4b7499219a4c2b8d33b6" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_5b453e55074a4b7499219a4c2b8d33b6 = echarts.init(
            document.getElementById('5b453e55074a4b7499219a4c2b8d33b6'), 'white', {renderer: 'canvas'});
        var option_5b453e55074a4b7499219a4c2b8d33b6 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pictorialBar",
            "symbol": "roundRect",
            "symbolSize": 5,
            "symbolOffset": [
                0,
                0
            ],
            "symbolRepeat": "fixed",
            "symbolClip": true,
            "name": "\u89c2\u770b\u4eba\u6570",
            "data": [
                106332037,
                69773524,
                52043152,
                45049114,
                39899580,
                39733890,
                29494129,
                27510752,
                23013367,
                22650851,
                22186374,
                21749922,
                17436027,
                13373368,
                12277495,
                12088542,
                10926111,
                10774462,
                10199011,
                9251399,
                106332716,
                69774408,
                52043606,
                45049551,
                39899728,
                39734221,
                29494414,
                27511093,
                23013539,
                22651042,
                22186657,
                21750186,
                17436193,
                13373478,
                12277621,
                12088655,
                10926192,
                10774545,
                10199098,
                9251490
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u89c2\u770b\u4eba\u6570"
            ],
            "selected": {
                "\u89c2\u770b\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": false,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 0,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "axisTick": {
                "show": false,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u5c11\u5e74\u7684\u4f60",
                "\u70c8\u706b\u82f1\u96c4",
                "\u72c4\u4ec1\u6770\u4e4b\u901a\u5929\u5e1d\u56fd",
                "\u897f\u6e38\u8bb0\u4e4b\u5927\u5723\u5f52\u6765",
                "\u5996\u732b\u4f20",
                "\u661f\u9645\u7279\u5de5\uff1a\u5343\u661f\u4e4b\u57ce_\u8bd1\u5236\u7248",
                "\u5927\u9c7c\u6d77\u68e0",
                "\u5357\u4eac\uff01\u5357\u4eac\uff01",
                "\u714e\u997c\u4fa0",
                "\u5370\u5ea6\u5408\u4f19\u4eba_\u8bd1\u5236\u7248",
                "\u4e00\u4e5d\u56db\u4e8c",
                "\u6740\u7834\u72fc\u00b7\u8d2a\u72fc",
                "\u626b\u6bd22\u5929\u5730\u5bf9\u51b3",
                "\u547d\u8fd0\u547c\u53eb\u8f6c\u79fb",
                "\u4e00\u6761\u72d7\u7684\u4f7f\u547d2",
                "\u8700\u5c71\u4f20",
                "\u949f\u9997\u4f0f\u9b54\uff1a\u96ea\u5996\u9b54\u7075",
                "\u5954\u8dd1\u5427\uff01\u5144\u5f1f",
                "\u4e00\u58f0\u53f9\u606f",
                "\u4ece\u4f60\u7684\u5168\u4e16\u754c\u8def\u8fc7",
                "\u5c11\u5e74\u7684\u4f60",
                "\u70c8\u706b\u82f1\u96c4",
                "\u72c4\u4ec1\u6770\u4e4b\u901a\u5929\u5e1d\u56fd",
                "\u897f\u6e38\u8bb0\u4e4b\u5927\u5723\u5f52\u6765",
                "\u5996\u732b\u4f20",
                "\u661f\u9645\u7279\u5de5\uff1a\u5343\u661f\u4e4b\u57ce_\u8bd1\u5236\u7248",
                "\u5927\u9c7c\u6d77\u68e0",
                "\u5357\u4eac\uff01\u5357\u4eac\uff01",
                "\u714e\u997c\u4fa0",
                "\u5370\u5ea6\u5408\u4f19\u4eba_\u8bd1\u5236\u7248",
                "\u4e00\u4e5d\u56db\u4e8c",
                "\u6740\u7834\u72fc\u00b7\u8d2a\u72fc",
                "\u626b\u6bd22\u5929\u5730\u5bf9\u51b3",
                "\u547d\u8fd0\u547c\u53eb\u8f6c\u79fb",
                "\u4e00\u6761\u72d7\u7684\u4f7f\u547d2",
                "\u8700\u5c71\u4f20",
                "\u949f\u9997\u4f0f\u9b54\uff1a\u96ea\u5996\u9b54\u7075",
                "\u5954\u8dd1\u5427\uff01\u5144\u5f1f",
                "\u4e00\u58f0\u53f9\u606f",
                "\u4ece\u4f60\u7684\u5168\u4e16\u754c\u8def\u8fc7"
            ]
        }
    ],
    "title": [
        {
            "text": "\u89c2\u770b\u4eba\u6570\u8c61\u5f62\u67f1\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_5b453e55074a4b7499219a4c2b8d33b6.setOption(option_5b453e55074a4b7499219a4c2b8d33b6);
    </script>
</body>
</html>
