{% extends 'home.html' %}

{% block title %}
    电影榜单
{% endblock title%}

{% block header %}
    <h1>电影榜单
     <a class="btn-group-sm h3" href="movieBar.html">柱状图</a>
                 <a class="btn-group-sm h3" href="movieeffectscatter.html">涟漪图</a>
         <a class="btn-group-sm h3" href="moviepictorialbar.html">象形图</a>
         <a class="btn-group-sm h3" href="moviepie.html">饼图</a>
         <a class="btn-group-sm h3" href="moviefunnel.html">漏斗图</a>
        <a class="btn-group-sm h3" href="movieWordcloud.html">词云图</a>
        <a class="btn-group-sm h5" style="padding-left: 700px" href="/file1_down">下载</a>
    </h1>
{% endblock header %}

{% block body %}
    <table  class="table table-striped table-dark table-bordered table-hover text-center ">
        <thead>
        <tr class="text-center">
            <th class="text-center">id</th>
            <th class="text-center">片名</th>
            <th class="text-center">演员</th>
            <th class="text-center">题材</th>
            <th class="text-center">观看人数</th>
        </tr>
        </thead>
        <tbody>
        {% for nrow in nrows %}
            <tr>
                <td>{{ nrow.0 }}</td>
                <td>{{ nrow.1 }}</td>
                <td>{{ nrow.2 }}</td>
                <td>{{ nrow.3 }}</td>
                <td>{{ nrow.4 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}