<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7404b49bfe7a42fa8f3b46a9a0ba513e" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_7404b49bfe7a42fa8f3b46a9a0ba513e = echarts.init(
            document.getElementById('7404b49bfe7a42fa8f3b46a9a0ba513e'), 'light', {renderer: 'canvas'});
        var option_7404b49bfe7a42fa8f3b46a9a0ba513e = {
    "backgroundColor": "skyblue",
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "w",
            "legendHoverLink": true,
            "data": [
                68615807,
                110432345,
                51522272,
                130877659,
                148306062,
                62740828,
                42988632,
                16622132,
                168906600,
                14280882,
                94522119,
                117251663,
                80828094,
                93168574,
                40003229,
                400189432
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": 5,
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "w"
            ],
            "selected": {
                "w": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "name": "\u7247\u540d",
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "symbol": "arrow",
                "lineStyle": {
                    "show": true,
                    "width": 2,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "axisTick": {
                "show": true,
                "alignWithLabel": false,
                "inside": true,
                "length": 20
            },
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -45,
                "margin": 8
            },
            "axisPointer": {
                "show": true,
                "type": "line"
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u738b\u603b\u4e3a\u4f55\u4f1a\u8fd9\u6837",
                "\u9006\u88ad\u5c11\u5973\u5df2\u4e0a\u7ebf",
                "\u6211\u5728\u4f60\u7684\u4e16\u754c\u91cc",
                "CP\u9a6c\u62c9\u677e",
                "\u4e00\u4e0d\u5c0f\u5fc3\u7231\u4e0a\u4f60",
                "\u5973\u4e3b\u4eba\u8bbe\u4e0d\u80fd\u5d29\uff01",
                "\u56db\u559c\u4e34\u95e8",
                "\u516c\u4e3b\u7684\u9a91\u58eb",
                "\u9006\u6218",
                "\u5168\u4e16\u754c\u90fd\u8bef\u4f1a\u6211\u4eec\u5728\u604b\u7231",
                "\u8d85\u611f\u59d0\u59b9",
                "\u6211\u53bb\u5e73\u884c\u65f6\u7a7a\u7231\u4f60",
                "\u51e4\u6c42\u51f0",
                "\u7834\u6b21\u5143\u7231\u604b",
                "\u542c\u89c1\u4f60\u7684\u5fc3\u58f0",
                "\u5973\u4eba\u7684\u89c9\u9192"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_7404b49bfe7a42fa8f3b46a9a0ba513e.setOption(option_7404b49bfe7a42fa8f3b46a9a0ba513e);
    </script>
</body>
</html>
