<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>观看人数涟漪散点图</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="8e3791448c304482a61cd2beb726e085" class="chart-container" style="width:2000px; height:1000px;"></div>
    <script>
        var chart_8e3791448c304482a61cd2beb726e085 = echarts.init(
            document.getElementById('8e3791448c304482a61cd2beb726e085'), 'white', {renderer: 'canvas'});
        var option_8e3791448c304482a61cd2beb726e085 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "effectScatter",
            "name": "\u89c2\u770b\u4eba\u6570",
            "showEffectOn": "render",
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "symbolSize": 10,
            "data": [
                [
                    "\u6885\u5a18\u4f20",
                    199157660
                ],
                [
                    "\u9006\u5149",
                    155742431
                ],
                [
                    "\u4e07\u6e23\u671d\u51f0",
                    422053405
                ],
                [
                    "\u6697\u5f71\u5973\u4fdd\u9556",
                    115716333
                ],
                [
                    "\u5c0f\u751c\u59bb2",
                    165193004
                ],
                [
                    "\u6211\u548c\u6211\u7239\u548c\u6211\u7237",
                    104262441
                ],
                [
                    "\u5f8b\u653f\u5976\u7238",
                    100176399
                ],
                [
                    "D\u7ea7\u7231\u8c46",
                    120152201
                ],
                [
                    "\u957f\u516c\u4e3b\u5728\u4e0a",
                    344600753
                ],
                [
                    "\u6211\u600e\u4e48\u8fd9\u4e48\u597d\u770b",
                    210036075
                ],
                [
                    "\u4eba\u95f4\u70df\u706b\u4e4b\u534e\u5c71\u8bba\u83dc",
                    85351896
                ],
                [
                    "\u65b0\u4ed9\u5251\u5947\u4fa0\u4f20\u4e4b\u6325\u5251\u95ee\u60c5",
                    198564775
                ],
                [
                    "\u65e0\u6cd5\u6297\u62d2\u7684\u5979",
                    105345218
                ],
                [
                    "\u6bdb\u5c0f\u65ed\u7684\u89e6\u7535\u4eba\u751f",
                    97894233
                ],
                [
                    "\u6211\u7684\u50b2\u5a07\u5fa1\u7237",
                    557959182
                ],
                [
                    "\u5355\u4eb2\u5988\u5988\u594b\u6597\u8bb0",
                    400684302
                ],
                [
                    "\u91d1\u724c\u5a46\u5a46",
                    155050439
                ],
                [
                    "\u518d\u9047\u89c1\u65f6\u8bf7\u76f8\u7231",
                    319759439
                ],
                [
                    "\u751c\u871c\u5173\u7cfb",
                    104544791
                ],
                [
                    "\u5a46\u5a46\u9a7e\u5230",
                    53282536
                ],
                [
                    "\u6885\u5a18\u4f20",
                    199157660
                ],
                [
                    "\u9006\u5149",
                    155742431
                ],
                [
                    "\u4e07\u6e23\u671d\u51f0",
                    422053405
                ],
                [
                    "\u6697\u5f71\u5973\u4fdd\u9556",
                    115716333
                ],
                [
                    "\u5c0f\u751c\u59bb2",
                    165193004
                ],
                [
                    "\u6211\u548c\u6211\u7239\u548c\u6211\u7237",
                    104262441
                ],
                [
                    "\u5f8b\u653f\u5976\u7238",
                    100176399
                ],
                [
                    "D\u7ea7\u7231\u8c46",
                    120152201
                ],
                [
                    "\u957f\u516c\u4e3b\u5728\u4e0a",
                    344600753
                ],
                [
                    "\u6211\u600e\u4e48\u8fd9\u4e48\u597d\u770b",
                    210036075
                ],
                [
                    "\u4eba\u95f4\u70df\u706b\u4e4b\u534e\u5c71\u8bba\u83dc",
                    85351896
                ],
                [
                    "\u65b0\u4ed9\u5251\u5947\u4fa0\u4f20\u4e4b\u6325\u5251\u95ee\u60c5",
                    198564775
                ],
                [
                    "\u65e0\u6cd5\u6297\u62d2\u7684\u5979",
                    105345445
                ],
                [
                    "\u6bdb\u5c0f\u65ed\u7684\u89e6\u7535\u4eba\u751f",
                    97894234
                ],
                [
                    "\u6211\u7684\u50b2\u5a07\u5fa1\u7237",
                    557959411
                ],
                [
                    "\u5355\u4eb2\u5988\u5988\u594b\u6597\u8bb0",
                    400684323
                ],
                [
                    "\u91d1\u724c\u5a46\u5a46",
                    155050761
                ],
                [
                    "\u518d\u9047\u89c1\u65f6\u8bf7\u76f8\u7231",
                    319759439
                ],
                [
                    "\u751c\u871c\u5173\u7cfb",
                    104544791
                ],
                [
                    "\u5a46\u5a46\u9a7e\u5230",
                    53282536
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u89c2\u770b\u4eba\u6570"
            ],
            "selected": {
                "\u89c2\u770b\u4eba\u6570": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLabel": {
                "show": true,
                "position": "top",
                "rotate": -45,
                "margin": 8
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u6885\u5a18\u4f20",
                "\u9006\u5149",
                "\u4e07\u6e23\u671d\u51f0",
                "\u6697\u5f71\u5973\u4fdd\u9556",
                "\u5c0f\u751c\u59bb2",
                "\u6211\u548c\u6211\u7239\u548c\u6211\u7237",
                "\u5f8b\u653f\u5976\u7238",
                "D\u7ea7\u7231\u8c46",
                "\u957f\u516c\u4e3b\u5728\u4e0a",
                "\u6211\u600e\u4e48\u8fd9\u4e48\u597d\u770b",
                "\u4eba\u95f4\u70df\u706b\u4e4b\u534e\u5c71\u8bba\u83dc",
                "\u65b0\u4ed9\u5251\u5947\u4fa0\u4f20\u4e4b\u6325\u5251\u95ee\u60c5",
                "\u65e0\u6cd5\u6297\u62d2\u7684\u5979",
                "\u6bdb\u5c0f\u65ed\u7684\u89e6\u7535\u4eba\u751f",
                "\u6211\u7684\u50b2\u5a07\u5fa1\u7237",
                "\u5355\u4eb2\u5988\u5988\u594b\u6597\u8bb0",
                "\u91d1\u724c\u5a46\u5a46",
                "\u518d\u9047\u89c1\u65f6\u8bf7\u76f8\u7231",
                "\u751c\u871c\u5173\u7cfb",
                "\u5a46\u5a46\u9a7e\u5230",
                "\u6885\u5a18\u4f20",
                "\u9006\u5149",
                "\u4e07\u6e23\u671d\u51f0",
                "\u6697\u5f71\u5973\u4fdd\u9556",
                "\u5c0f\u751c\u59bb2",
                "\u6211\u548c\u6211\u7239\u548c\u6211\u7237",
                "\u5f8b\u653f\u5976\u7238",
                "D\u7ea7\u7231\u8c46",
                "\u957f\u516c\u4e3b\u5728\u4e0a",
                "\u6211\u600e\u4e48\u8fd9\u4e48\u597d\u770b",
                "\u4eba\u95f4\u70df\u706b\u4e4b\u534e\u5c71\u8bba\u83dc",
                "\u65b0\u4ed9\u5251\u5947\u4fa0\u4f20\u4e4b\u6325\u5251\u95ee\u60c5",
                "\u65e0\u6cd5\u6297\u62d2\u7684\u5979",
                "\u6bdb\u5c0f\u65ed\u7684\u89e6\u7535\u4eba\u751f",
                "\u6211\u7684\u50b2\u5a07\u5fa1\u7237",
                "\u5355\u4eb2\u5988\u5988\u594b\u6597\u8bb0",
                "\u91d1\u724c\u5a46\u5a46",
                "\u518d\u9047\u89c1\u65f6\u8bf7\u76f8\u7231",
                "\u751c\u871c\u5173\u7cfb",
                "\u5a46\u5a46\u9a7e\u5230"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": true,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u89c2\u770b\u4eba\u6570\u6d9f\u6f2a\u6563\u70b9\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_8e3791448c304482a61cd2beb726e085.setOption(option_8e3791448c304482a61cd2beb726e085);
    </script>
</body>
</html>
